desktop.ini
.vs/desktop.ini
.vs/lib-interop/desktop.ini
.vs/lib-interop/FileContentIndex/desktop.ini
.vs/lib-interop/v17/desktop.ini
docs/desktop.ini
docs/requirements/desktop.ini
docs/requirements/images/desktop.ini
docs/specifications/desktop.ini
example-notebooks/desktop.ini
javascript/desktop.ini
javascript/samples/desktop.ini
sample-json/desktop.ini
sample-yaml/desktop.ini
schemas/desktop.ini
utils/desktop.ini
utils/__pycache__/desktop.ini
utils/__pycache__/dialog_event.cpython-38.pyc
examples/websockets/webSocketServerBak.py
examples/websockets/webSocketServerBak1.py
examples/websockets/webSocketServerBak2.py
examples/websockets/.ipynb_checkpoints/fastspeech2_inference-checkpoint.ipynb
examples/websockets/fastspeech2_inference.ipynb
examples/websockets/notes.txt
examples/websockets/received_audio.wav
examples/websockets/scripts/bidirectional.txt
examples/websockets/scripts/closeSocket.js
examples/websockets/scripts/readTTS.txt
examples/websockets/scripts/updateTextBox.txt
examples/websockets/__pycache__/assistant.cpython-39.pyc
examples/websockets/output_audio_file
utils/__pycache__/dialog_event.cpython-39.pyc
utils/.ipynb_checkpoints/dialog_event-checkpoint.py
examples/websockets/output_audio_file.wav
package-lock.json
python/lib/__pycache__/dialog_event.cpython-38.pyc
