desktop.ini
utils/__pycache__/__init__.cpython-38.pyc
utils/__pycache__/dialog_event.cpython-38.pyc
utils/__pycache__/__init__.cpython-38.pyc
utils/__pycache__/dialog_event.cpython-38.pyc
utils/__pycache__/dialog_event1.cpython-38.pyc
utils/__pycache__/dialog_event.cpython-38.pyc
